// BEGIN RADIO //

.el-radio {
  display: inline-flex;

  position: relative;

  cursor: pointer;
  
  &.is-disabled {
    .el-radio__inner {
      border-color: $color-light-l12;
      
      cursor: not-allowed;
      
      &:after {
        cursor: not-allowed;
      }
    }

    .el-radio__label {
      color: $color-grey-l40;
			cursor: not-allowed;
    }

    &.is-checked {
      .el-radio__inner {
        border-color: $color-light-l08;
        background-color: $color-light-l08;
      }
    }
  }

  &.is-checked {
		.el-radio__inner {
			border-color: $color-blue-n0;
			background-color: $color-blue-n0;
    }
    
		.el-radio__inner::after {
			transform: translate(-50%, -50%) scale(1);
    }
  }
  
  &.is-focus {
    .el-radio__inner {
      box-shadow: 0 0 0 1px $color-blue-d12;
      border-color: $color-blue-d12;
    }
  }
}

.el-radio__input {
  display: inline-block;
  
  position: relative;
  
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1;
  
	cursor: pointer;
  outline: 0;
}

.el-radio__inner {
  display: inline-block;

  position: relative;

  width: 1.6rem;
  height: 1.6rem;
  margin-top: .2rem;

  background-color: $color-white;
  border: 1px solid $color-light-n0;
  border-radius: 50%;

  z-index: 1;
	transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
  
  &:hover {
		cursor: pointer;
  }

  &:after {
    content: '';

    position: absolute;
    left: 50%;
    top: 50%;

    width: .4rem;
    height: .4rem;
    
    border-radius: 50%;
    background-color: $color-white;
    
    transform: translate(-50%, -50%) scale(0);
    transition: transform .15s ease-in;
  }
}

.el-radio__original {
	opacity: 0;
	outline: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

.el-radio__label {
	display: inline-block; 
  font-size: 1.4rem;
  line-height: 1.4;
  color: $color-grey-n0;
}

// END RADIO //




// BEGIN RADIO GROUP //

.el-radio-group {
  display: inline-block;
  
  margin-left: -1.2rem;
  margin-right: -1.2rem;

  .el-radio {
    padding: 0 1.2rem;
  }

  &.vertical {
    display: inline-flex;
    flex-direction: column;

    margin: 0;

    .el-radio {
      padding: 1.6rem 0 0;

      &:first-child:not(.is-bordered) {
        padding: 0;
      }
    }
  }
}

// END RADIO GROUP //