// stylelint-disable declaration-no-important

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value !important;
  }

  @each $step in 1, 2, 3, 4, 5, 6, 7, 8, 9 {
    .bg-#{$color}-light-#{$step} {
      background-color: mix($--color-white, $value, $step * 10%)!important; 
    }
  }
}

.bg-white {
  background-color: $--color-white !important;
}

.bg-transparent {
  background-color: transparent !important;
}
