// base color
$main-color: #00B0F0;
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar - normal
$sidebarWidth: 26rem;
$slidebarMenuTextColor:#8CA5BE;//#bfcbd9;
$slidebarBackgroundColor:#243240;
$slidebarSubMenuBackgroundColor:#243240;

// sidebar - hover
$slidebarMenuHoverTextColor:#FFFFFF;
$slidebarMenuHoverBackgroundColor:#33475A;
$slidebarSubMenuHoverTextColor:#FFFFFF;
$slidebarSubMenuHoverBackgroundColor:#33475A;

// sidebar - active
$slidebarMenuActiveTextColor:#FFFFFF;
$slidebarMenuActiveBackgroundColor:$main-color;
$slidebarSubMenuActiveTextColor:#FFFFFF;
$slidebarSubMenuActiveBackgroundColor:rgba(0,0,0,0);

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $slidebarMenuTextColor;
  menuActiveText: $slidebarMenuActiveTextColor;
  subMenuActiveText: $slidebarSubMenuActiveTextColor;
  menuBg: $slidebarBackgroundColor;
  menuHover: $slidebarMenuHoverBackgroundColor;
  subMenuBg: $slidebarSubMenuBackgroundColor;
  subMenuHover: $slidebarSubMenuHoverBackgroundColor;
  sideBarWidth: $sidebarWidth;
}
