@mixin ellipsis-text($font-size, $line-height, $lines-to-show) {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: $font-size;
	line-height: $line-height;
	max-height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
}
